@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
           url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
           font-weight: 400;
           font-style: normal;
   }
.header{
       margin: 0;
   }
html, body{
    height: 100%;
    min-width: 320px;
}
body{
    line-height: 1;
    font-family: Montserrat;
}
.main{
    flex: 1 1 auto;
}
[class*="__container"]{
    max-width: 1280px;
    margin: 0 auto;
}
.nav_menu{
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.menu a{
    color: red;
    font-weight: 700;
    padding: 25px 75px 25px 75px;
    text-decoration: none;
}
.text_position{
    color: #373737;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 49px 0px 38px 0px;
}
.text__container p{
    font-weight: 400px;
    color: #373737;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 26px;
    padding: 0px 67.5px;    
}
.info__container{
    font-weight: 400px;
    color: #373737;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 
}
.button__container{
    display: block;
    text-align:center;
    padding: 66px 20px;
}
.button{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    background-color: #FF0000;
    padding: 10px 20px;
    border-radius: 4px;
}
.footer__container{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    padding: 0px 0px 20px 0px;